{
  "Port": 28010,
  "ServerPassword": "zyzh1234",
  "Whitelist": ["Client1", "Client3", "Client4"],
  "Mappings": [
    {
      "ServerPort": 8880,
      "RemoteCode": "Client3",
      "DistAddr": "172.16.16.5:60000"
    },
    {
      "ServerPort": 8881,
      "RemoteCode": "Client3",
      "DistAddr": "172.16.16.11:3389"
    }
  ],
  "Debug": true
}