{
  "ServerAddr": "172.16.16.5:28010",
  "ServerPassword": "zyzh1234",
  "MyCode": "Client3",
  "MyPassword": "zyzh123",
  "Mappings": [
    {
      "LocalPort": 18000,
      "RemoteCode": "Client4",
      "RemotePassword": "zyzh123",
      "DistAddr": "172.16.16.5:60000"
    },
    {
      "LocalPort": 18001,
      "RemoteCode": "Client4",
      "RemotePassword": "zyzh123",
      "DistAddr": "172.16.16.11:3389"
    }
  ],
  "Debug": true
}